.navbar-logo {
  width: 260px;
}
.inicio {
    padding: 5rem 1.5rem;
    text-align: center;
  }
.card {
    display:inline-block;
}
.jumbotron{
    padding: 10px;
}
.contenido{
    height: 28rem;
}
.contenedores{
    height: 28rem;
}
.tablaFija{ 
    overflow-y: scroll; 
    height: 300px; 
}
.contenido-derecha{ 
    overflow-y: scroll; 
    height: 28rem; 
}
.tablaFija thead th { 
    position: sticky; top: 0
}